click==6.7
Flask==1.0.2
Flask-Cors==3.0.6
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.0
mysql-connector-python==8.0.12
node==0.9.22
odict==1.6.2
passlib==1.7.1
plumber==1.5
six==1.11.0
Werkzeug==0.14.1
zope.component==4.4.1
zope.deprecation==4.3.0
zope.event==4.3.0
zope.interface==4.5.0
zope.lifecycleevent==4.2.0
